body {
    margin: 0 auto;
    padding: 0;
}

.buttons {
    display: flex;
    justify-content: center;
}

button {
    width: 150px;
    height: 50px;
    margin: 15px;
    border-radius: 10px;
    border: 1px red solid;
    background-color: hsla(204, 52%, 48%, 0.527);
    font-size: 20px;
    color: hsl(0, 0%, 99%);
    font-weight: 600;
}

.container {
    margin: auto auto;
    box-sizing: border-box;
    margin-top: 25px;
    display: flex;
    width: 768px;
    height: 768px;
    border: 1px solid red;
}

.square {
    box-sizing: border-box;
}
